@{ 
    string pageTitle = ViewResources.ReferEngine + ViewResources.TitleSeparator + ViewResources.MainSolgan;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@pageTitle</title>
        <meta name="description" content="@ViewResources.MainDescription">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Refer Engine">
        <meta property="og:title" content="@pageTitle"/>
        <meta property="og:url" content="@Request.Url"/>
        <meta property="og:description" content="@ViewResources.MainDescription"/>
        <meta property="og:image" content="https://cloudinary-a.akamaihd.net/referengine/image/upload/logo_mark_500_qg2mad.png" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        @Html.Partial("_FavIcon")
        @Styles.Render("~/bundles/home")
    </head>
    
@{
}
    <body>
        <div class="text-center">
            <div class="clean-logo">
                <div class="brand logo">
                    @Images.LogoMark.Height(40).Width(40).Alt(ViewResources.ReferEngine).ToHtmlString("h_80,w_80")
                    <div>@ViewResources.ReferEngine <span class="tm"><sup>TM</sup></span></div>
                </div>
            </div>
            @RenderBody()
        </div>

        <div class="bottom-menu">
            <ul>
                <li>@Links.About(ViewResources.About)</li>
                <li>@Links.Developer(ViewResources.Developers)</li>
                <li>@Links.WindowsAppStore(ViewResources.WindowsStoreApps)</li>
                <li><a>@ViewResources.iPhoneAndiPadApps</a></li>
            </ul>
        </div>

        @Html.Partial("_GoogleAnalytics")
    </body>
</html>
