@model ReferEngine.Common.Models.App

@{
    ViewBag.Title = "Refer Engine Intro";
}

@section scripts
{
    @Scripts.Render("~/bundles/js/recommend/win8/intro")
}

@section styles
{
    @Styles.Render("~/bundles/less/recommend/win8/intro")
}

<h2>
    Earn rewards by recommending @Model.Name to your friends! 
</h2>

<ol>
    <li>Recommend @Model.Name on Facebook
    </li>
    <li>Receive a $2 cash reward for every four friends who buy @Model.Name!</li>
</ol>
<div id="srt-btn-ctnr">
    <a class="m-btn green big" id="re-login">Start Now!</a>
</div>
<div id="not-btns-ctnr">
    <a class="m-btn sm" id="re-not-now">Not Now</a>
    <a class="m-btn sm" id="re-dont-ask">Don't ask me again</a>
</div>
