@using ReferEngine.Common.Models
@model ReferEngine.Web.Models.Refer.Win8.RecommendViewModel

@section scripts
{
    @Scripts.Render("~/js/recommend/win8/recommend")
}

@section styles
{
    @Styles.Render("~/bundles/less/recommend/win8/recommend")
}

<input type="hidden" id="appId" value="@Model.App.Id" />
<script type="text/javascript">
    window.RE = window.RE == undefined ? {} : window.RE;
    window.RE.Friends = @Html.Raw(Person.Serialize(Model.CurrentUser.Friends));
    window.RE.ReferEngineAuthToken = "@Model.ReferEngineAuthToken";
</script>

<div class="container">
    <div class="row">
        <h2 class="span12"><span>@Model.CurrentUser.Person.FirstName</span>, your're almost done!
        </h2>
    </div>
    <div class="row">
        <h4 class="span12">1- Include a message? (optional)</h4>
        <p class="span12">
            You may include a message if you wish. To tag your friends, just start typing their name.
        </p>
        <div class="span12">
            <div contenteditable id="message" data-bind="html: msgHTML"></div>
        </div>
    </div>
    <div class="row previewRow">
        <h4 class="span12">2- Check out the Post Preview<sup class="ast"> *</sup></h4>
        <div class="span12" id="preview">
            <div class="storyContent">
                <img class="actorPhoto" src="@Model.CurrentUser.Person.PictureUrl" />
                <div class="storyInnerContent">
                    <p class="storyTitle"><a class="userName">@Model.CurrentUser.Person.Name</a> recommended an app using <a>Refer Engine</a>.</p>
                    <p class="msg" data-bind="html: msgHTML"></p>
                    <div class="shareContainer">
                        <div class="appImageContainer">
                            <img src="@Model.App.ImageLink" title="@Model.App.Name" />
                        </div>
                        <div class="appInfo">
                            <a class="appTitle">@Model.App.Name</a>
                            <p class="appDesc">@Model.App.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <h4 class="span12">3- Click Submit to Post</h4>
        <div class="span12 center-content">
            <a id="submit-button" class="m-btn blue large">Submit</a>
        </div>
    </div>
    <div class="row disclaimer">
        <p class="span12">* This preview is an approximation. Facebook may display this post differently.</p>
    </div>
    
    <div id="asContainer" data-bind="foreach: searchResult, visible: searchResult() != []">
        <div class="asItem m-btn" data-bind="click: $parent.onClick, css: {selected: $index() == $parent.selectedIndex()}">
            <i class="icon-user"></i>
            <span class="firstName" data-bind="text: FirstName"></span>
            <span class="lastName" data-bind="text: LastName"></span>
        </div>
    </div>
</div>

