@using ReferEngine.Common.Models
@model ReferEngine.Web.Models.Recommend.Win8.RecommendViewModel

@{
    ViewProperties viewProperties = ((ViewProperties)ViewData["ViewProperties"]);
    viewProperties.ReferEngineAuthToken = Model.ReferEngineAuthToken;
    Verifier.IsNotNullOrEmpty(Model, "Model");
    Verifier.IsNotNullOrEmpty(Model.App, "Model.App");
    Verifier.IsNotNullOrEmpty(Model.ReferEngineAuthToken, "Model.ReferEngineAuthToken");
}

@section scripts
{
    <script data-main="/typescript/recommend/windows/server/recommend.js" type="text/javascript" src="~/typescript/lib/require.js"></script>
}

@section styles
{
    @Styles.Render("~/bundles/less/recommend/win8/recommend")
}

<input type="hidden" id="appId" value="@Model.App.Id" />

<div class="text-message error">
    You must agree to the terms of service
</div>

<div class="post">
    <div class="title">
        <div>Your Message</div>
        <div>optional</div>
    </div>
    <div>
        <div contenteditable id="message" data-bind="html: msgHTML"></div>
        <div class="msg-placeholder">enter your message here... to tag a friend just start
            typing their name
        </div>
    </div>
    <div class="title">
        <div>Post Preview</div>
        <div>facebook may display this post differently</div>
    </div>
    <div id="preview">
        <div class="storyContent">
            <img class="actorPhoto" src="@Model.Person.PictureUrl" />
            <div class="storyInnerContent">
                <p class="storyTitle"><a class="userName">@Model.Person.Name</a> recommended an app.</p>
                <p class="msg" data-bind="html: msgHTML"></p>
                <div class="shareContainer">
                    <div class="appImageContainer">
                        <img src="@Model.App.LogoLink50" title="@Model.App.Name" />
                    </div>
                    <div class="appInfo">
                        <a class="appTitle">@Model.App.Name</a>
                        <p class="appDesc">@Model.App.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @if (Model.App.RewardPlan.Type == AppRewardPlanType.Cash &&
         Model.AppReceipt != null && Model.AppReceipt.LicenseType == LicenseType.Trial)
    {
        <div id="warning">
            Important: You are <strong>not eligible</strong> for a recommendation reward since you are using a free trial of @Model.App.Name.
            You can still post an app recommendation to facebook.
        </div>
    }

    <div id="asContainer" data-bind="foreach: searchResult, visible: searchResult() != []">
        <div class="asItem m-btn" data-bind="click: $parent.onClick, css: {selected: $index() == $parent.selectedIndex()}">
            <img data-bind="attr: { src: PictureUrl }" />
            <span class="firstName" data-bind="text: FirstName"></span>
            <span class="lastName" data-bind="text: LastName"></span>
        </div>
    </div>
</div>

<div class="postResult">
    <div>
        <p>Thank you for recommending @Model.App.Name!</p>
        
        @if (Model.App.RewardPlan.Type == AppRewardPlanType.Cash)
        {
        <p>
            Refer Engine will be in touch once you have earned a referral reward.
        </p>
        }
        <p>
            If you have any questions, please contact us at
            <a href="mailto:feedback@BluGraphingCalculator.com">feedback@BluGraphingCalculator.com</a> 
            or Refer Engine at <a href="mailto:support@referengine.com">support@referengine.com</a>.
        </p>
    </div>
</div>

@section footer
{
    <div class="post">
        <a class="m-btn no" id="cancel-button">Cancel</a>
        <div class="chkCtnr">
            <input type="checkbox" id="agree" checked="checked" />
            <label for="agree">
                I agree to the @Html.RouteLink("Refer Engine terms of service", "Default", new { controller = "About", action = "Terms" },
                new { target = "_blank" })
            </label>
        </div>
        <a class="m-btn go" id="submit-button">Submit</a>
    </div>
    <div class="postResult" style="width: 100%">
        <div class="chkCtnr"></div>
        <a class="m-btn go" id="done-button">Done</a>
    </div>
}