@model ReferEngine.Common.Models.ConfirmationCodeModel

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                @using (Html.BeginForm("confirm", "account"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="modal modal-flat">
                        <div class="modal-header">
                            <h3>@Model.FirstName, Confirm Your Email Address</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                                We sent you an email to @Model.Email with your confirmation code. Please enter your confirmation
                                code to log in.
                            </p>
                            <fieldset>
                                <div class="control-group">
                                    <div class="controls">
                                        <label for="Email">Email</label>
                                        <input id="Email" name="email" type="text" value="@Model.Email" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label for="ConfirmationCode">Confirmation Code</label>
                                        <input id="ConfirmationCode" name="code" type="text" value="" placeholder="Confirmation Code"/>
                                    </div>
                                </div>
                            </fieldset>
                            <p>Did not receive the email? We can  <a href="~/Account/ResendConfirmationCode?email=@Model.Email">send it again</a></p>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Confirm" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

