@model ReferEngine.Web.Models.Account.RegisterExternalLoginModel

@{
    ViewProperties viewProperties = ((ViewProperties)ViewData["ViewProperties"]);
}

<hgroup class="title">
    <h1>Title</h1>
    <h2>Associate your @viewProperties.ProviderDisplayName account.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { viewProperties.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Association Form</legend>
        <p>
            You've successfully authenticated with <strong>@viewProperties.ProviderDisplayName</strong>.
            Please enter a user name for this site below and click the Confirm button to finish
            logging in.
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Register" />
    </fieldset>
}

<iframe src="https://www.facebook.com/plugins/registration?
             client_id=368842109866922&
             redirect_uri=https%3A%2F%2Freferengine.fwd.wf%2Faccount%2Ffacebookregister%2F&
             fields=name,birthday,gender,email"
        scrolling="auto"
        frameborder="no"
        style="border:none"
        allowTransparency="true"
        width="100%"
        height="330">
</iframe>