@model ReferEngine.Web.Models.Account.RegisterModel

<div class="row">
    <div class="span12 text-center">
        <form action="~/Account/FacebookLogin" method="post" id="fb-login">
            @Html.AntiForgeryToken()
            <input type="hidden" name="ReturnUrl" value="https://referengine.fwd.wf/account/" />
            <a href="javascript: document.getElementById('fb-login').submit()">
                <img src="https://cloudinary-a.akamaihd.net/referengine/image/upload/w_50/FB_f_Logo__blue_1024_jz915q.png" alt="Icon for Facebook">
                <h3>Connect using Facebook</h3>
            </a>
        </form>
    </div>
</div>

@*<div class="row">
    <div class="span12 text-center">
        <form action="~/Account/ExternalLogin" method="post" id="fb-login">
            @Html.AntiForgeryToken()
            <input type="hidden" name="Provider" value="Facebook" />
            <input type="hidden" name="ReturnUrl" value="https://referengine.fwd.wf/account/" />
            <a href="javascript: FB.login()">
                <img src="https://cloudinary-a.akamaihd.net/referengine/image/upload/w_50/FB_f_Logo__blue_1024_jz915q.png" alt="Icon for Facebook">
                <h3>Connect using Facebook</h3>
            </a>
        </form>
    </div>
</div>*@

<style>
    .provider-btn {
        background: none;
        border: none;
    }
    .provider-btn img {
        float: left;
        margin: 5px 10px 0;
    }
</style>

<div class="row">
    <div class="span12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="modal modal-flat modal-inline">
                <div class="modal-header">
                    <h3>Register a New Account</h3>
                </div>
                <div class="modal-body">
                    <p class="text-info center-content">Start using Refer Engine for free. No credit card required.</p>	
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                <label for="FirstName">First Name</label>
                                <input data-val="true" data-val-required="The First Name field is required." id="FirstName" name="FirstName" type="text" value="" placeholder="John"/>
                            </div>
                            <div class="controls">
                                <label for="LastName">Last Name</label>
                                <input data-val="true" data-val-required="The Last Name field is required." id="LastName" name="LastName" type="text" value=""  placeholder="Smith"/>
                            </div>
                            <div class="controls">
                                <label for="Email">Email</label>
                                <input data-val="true" data-val-required="The Email field is required." id="Email" name="Email" type="text" value=""  placeholder="username@mail.com"/>
                            </div>
                            <div class="controls">
                                <label for="Password">Password</label>
                                <input data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" name="Password" type="password" placeholder="password" />
                            </div>
                            <div class="controls">
                                <label for="InvitationCode">Invitation Code</label>
                                <input data-val="true" data-val-required="The Invitation Code field is required." id="InvitationCode" name="InvitationCode" type="text" placeholder="invite code" value="@ViewData["code"]"/>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="txt-middle">
        <br />
        <a href="~/account/login">Already a Member?</a>
    </div>
</div>