@model ReferEngine.Common.Models.App

@section styles {
    @Styles.Render("~/less/app/dashboard");
}

@section scripts {
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=@Util.GoogleApiKey&sensor=false"> </script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart", "geochart", "table"] });
        window.re = {};
        window.re.appId = @Model.Id;
        window.re.appName = "@Model.Name";
    </script>
    <script data-main="/typescript/app/dashboard.js" type="text/javascript" src="~/typescript/lib/require.js"></script> 
}

<div id="content">
    <div class="container">
        
        <div class="row" id="filters">
            <div class="span6">
                <div class="btn-group">
                    <a class="btn disabled">Customers who:</a>
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <span id="current-who">recommended @Model.Name</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="who" data-who="launched">launched @Model.Name</a></li>
                        <li><a class="who" data-who="intro">saw the Refer Engine intro page</a></li>
                        <li><a class="who" data-who="recommended">recommended @Model.Name</a></li>
                    </ul>
                </div>
            </div>
            <div class="span6">
                <div class="pull-right">
                    <div id="date-range" class="btn" style="">
                        <i class="icon-calendar icon-large"></i>
                        <span></span><b class="caret"></b>
                    </div>
                </div>
            </div>
        </div>        
               
        <ul class="nav nav-tabs" id="myTab">
            <li><a href="#tableTab" data-toggle="tab">Table</a></li>
            <li class="active"><a href="#chartTab" data-toggle="tab">Chart</a></li>
            <li><a href="#mapTab" data-toggle="tab">Map</a></li>
            <li><a href="#peopleTab" data-toggle="tab">People</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="tableTab">
                <div class="row">
                    <div class="span6 offset3">
                        <div id="table" class="img-polaroid"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="chartTab">
                <div class="row">
                    <div id="chart" class="img-polaroid"></div>
                </div>
                <div class="row" id="under-chart">
                    <div class="span12">
                        <div class="pull-right">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span id="current-how-chart">Line Chart</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="chart-how" data-how="area-chart">Area Chart</a></li>
                                    <li><a class="chart-how" data-how="column-chart">Column Chart</a></li>
                                    <li><a class="chart-how" data-how="line-chart">Line Chart</a></li>
                                    <li><a class="chart-how" data-how="pie-chart">Pie Chart</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="mapTab">
                @* Start: Map*@
                <div class="row">
                    <div class="span12 txt-middle">
                        <div id="map-canvas" class="img-polaroid"></div>
                    </div>
                </div>
                @* End: Map*@
            </div>
            <div class="tab-pane" id="peopleTab">
                <!-- ko foreach: PeopleData -->
                <div class="row" style="margin-bottom: 20px; color: gray; line-height: normal">
                    <span class="span1 offset1">
                        <img data-bind="attr:{src: PictureUrl}" />                        
                    </span>
                    <span class="span10" style="font-family: Lucida Grande">
                        <p style="font-size: 12px">
                            <span data-bind="text: Name" style=" font-weight: bold !important; color: #3b5998"></span>
                            recommended @Model.Name.
                        </p> 
                        <p style="font-size: 11px; margin-top: -10px !important;">
                            near <span data-bind="text: Location"></span>
                        </p>
                        <p style="font-size: 13px" data-bind="text: UserMessage"></p>
                    </span>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>


    @*<script type="text/javascript">
    @{ var data = Html.Raw(MixPanelOperations.GetData(new MixPanelRequestInfo(Event.RecommendIntro)
                                                          {
                                                              PropertyName = "AppId",
                                                              PropertyValues = new List<string> {ViewProperties.CurrentApp.Id.ToString()}
                                                          })); }
    var data = @data;
</script>*@
