@{
    ViewProperties viewProperties = ((ViewProperties) ViewData["ViewProperties"]);
    Verifier.IsNotNullOrEmpty(viewProperties.CurrentApp, "viewProperties.CurrentApp");
}

@section styles {
    @Styles.Render("~/less/app/dashboard")
}

@section scripts {
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=@Util.GoogleApiKey&sensor=false"> </script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart", "geochart", "table"] });
    </script>
    <script data-main="/typescript/app/dashboard.js" type="text/javascript" src="~/typescript/lib/require.js"></script> 
}

<div id="content">
    <div class="container">
        
        <div class="row" id="filters">
            <div class="span6">
                <div class="btn-group">
                    <a class="btn disabled">Customers who:</a>
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <span id="current-who">recommended @viewProperties.CurrentApp.Name</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="who" data-who="launched">launched @viewProperties.CurrentApp.Name</a></li>
                        <li><a class="who" data-who="intro">saw the Refer Engine intro page</a></li>
                        <li><a class="who" data-who="recommended">recommended @viewProperties.CurrentApp.Name</a></li>
                    </ul>
                </div>
            </div>
            <div class="span6">
                <div class="pull-right">
                    <div id="date-range" class="btn" style="">
                        <i class="icon-calendar icon-large"></i>
                        <span></span><b class="caret"></b>
                    </div>
                </div>
            </div>
        </div>        
               
        <ul class="nav nav-tabs" id="myTab">
            <li><a href="#tableTab" data-toggle="tab">Table</a></li>
            <li class="active"><a href="#chartTab" data-toggle="tab">Chart</a></li>
            <li><a href="#mapTab" data-toggle="tab">Map</a></li>
            <li><a href="#peopleTab" data-toggle="tab">People</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="tableTab">
                <div class="row">
                    <div class="span6 offset3">
                        <div id="table" class="img-polaroid"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="chartTab">
                <div class="row">
                    <div id="chart" class="img-polaroid"></div>
                </div>
                <div class="row" id="under-chart">
                    <div class="span12">
                        <div class="pull-right">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span id="current-how-chart">Column Chart</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="chart-how" data-how="area-chart">Area Chart</a></li>
                                    <li><a class="chart-how" data-how="column-chart">Column Chart</a></li>
                                    <li><a class="chart-how" data-how="line-chart">Line Chart</a></li>
                                    <li><a class="chart-how" data-how="pie-chart">Pie Chart</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="mapTab">
                @* Start: Map*@
                <div class="row">
                    <div class="span12 txt-middle">
                        <div id="map-canvas" class="img-polaroid"></div>
                    </div>
                </div>
                @* End: Map*@
            </div>
            <div class="tab-pane" id="peopleTab">
                <!-- ko foreach: PeopleData -->
                <div class="row" style="margin-bottom: 18px; color: gray; line-height: normal">
                    <div class="storyContainer span10 offset1" style="border-top: 1px solid #e9e9e9; padding: 18px 0 0 18px; border-left: 1px solid #e9e9e9;
                                                                      font-family: 'lucida grande',tahoma,verdana,arial,sans-serif">
                        <span class="" style="float: left; padding-right: 18px; height: 80px">
                            <img data-bind="attr:{src: PictureUrl}" />                        
                        </span>
                        <span class="" style="padding-left: 86px">
                            <p style="font-size: 13px">
                                <span data-bind="text: Name" style=" font-weight: bold !important; color: #3b5998"></span>
                                recommended @viewProperties.CurrentApp.Name<span data-bind="text: ToFriends"></span>.
                            </p> 
                            <p style="font-size: 11px; color: #999; margin-top: -5px !important;">
                                <span data-bind="text: Time"></span>
                                <span data-bind="visible: Location">
                                    near <span data-bind="text: Location"></span>
                                </span>
                            </p>
                            <p style="font-size: 13px; color:#333" data-bind="text: UserMessage"></p>
                        </span>                        
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
