@model bool?

@{
    ViewProperties viewProperties = ((ViewProperties) ViewData["ViewProperties"]);
    Verifier.IsNotNullOrEmpty(viewProperties.CurrentApp, "viewProperties.CurrentApp");
}

@section styles {
    @Styles.Render("~/less/app/settings");
}

@section scripts {
    <script data-main="/typescript/app/settings.js" type="text/javascript" src="~/typescript/lib/require.js"></script>
}


<div id="content" data-spy="scroll" data-target=".nav-list">
    <div class="container">
        <div class="row">
            <div class="span3 bs-docs-sidebar affix">
                <ul class="nav nav-list bs-docs-sidenav">
                    <li class="nav-header">App Settings</li>
                    <li><a href="#info"><i class="icon-chevron-right"></i> Edit Info</a></li>
                    <li><a href="#screenshots"><i class="icon-chevron-right"></i> Edit Screenshots</a></li>
                    <li><a href="#install"><i class="icon-chevron-right"></i> Install</a></li>
                    <li><a href="#manage"><i class="icon-chevron-right"></i> Manage</a></li>
                </ul>
            </div>                      
            <div class="span9 offset3">
                <section id="info">
                    <h3>Info</h3>
                    <hr />
                    <p>
                        This info will appear in  
                        <a href="https://apps.facebook.com/referengine/app/@viewProperties.CurrentApp.Id" target="_blank">
                            @viewProperties.CurrentApp.Name's Facebook Landing Page
                        </a>
                    </p>
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">App Name</label>
                            <div class="controls static">
                                @viewProperties.CurrentApp.Name
                            </div>
                            <br />
                            <label class="control-label">Facebook Landing Page</label>
                            <div class="controls static">
                                Preview</a>
                            </div>
                            <br />
                            <label class="control-label">Package Family Name</label>
                            <div class="controls static">
                                @viewProperties.CurrentApp.PackageFamilyName
                            </div>
                            <br />
                            <label class="control-label">App Authorization Code</label>
                            <div class="controls static">
                                <code>@viewProperties.CurrentApp.VerificationCode</code>
                            </div>
                            <br />
                            <label class="control-label">Description</label>
                            <div class="controls">
                                <textarea rows="5">@viewProperties.CurrentApp.Description</textarea>
                            </div>
                            <br />
                            <label class="control-label">Logo</label>
                            <div class="controls">
                                <img src="@viewProperties.CurrentApp.LogoLink50" />
                            </div>
                            <br />
                            <label class="control-label">High Quality Logo</label>
                            <div class="controls">
                                <img src="@viewProperties.CurrentApp.LogoLinkHighQuality" id="logo-high-quality"/>
                            </div>
                            <br />
                            <label class="control-label">Copyright</label>
                            <div class="controls">
                                <input type="text" value="@viewProperties.CurrentApp.Copyright"/>
                            </div>
                            <br />
                            <label class="control-label">Publisher</label>
                        <div class="controls">
                            <input type="text" value="@viewProperties.CurrentApp.Publisher"/>
                        </div>
                        <h4>Video</h4>
                            <p>
                                <span class="label label-info">Hint</span> Adding a Video will increase your landing page's conversion
                            </p>
                            <br />
                            <label class="control-label">Vimeo Video Link</label>
                            <div class="controls">
                                <input type="text" value="@viewProperties.CurrentApp.VimeoLink"/>
                            </div>
                            <br />
                            <label class="control-label">YouTube Video Link</label>
                            <div class="controls">
                                <input type="text" value="@viewProperties.CurrentApp.YouTubeLink"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">Save</button>
                            </div>
                        </div>
                    </form>
                </section>
                <section id="screenshots">
                    <h3>Screenshots</h3>
                    <hr />
                </section>
                <section id="install">
                    <h3>Installation</h3>
                    <hr />
                    @if (Model.HasValue && Model.Value)
                    {
                        <div class="alert alert-success">
                            @viewProperties.CurrentUser.FirstName, you have successfully added
                            @viewProperties.CurrentApp.Name to your account. The next and final
                            step is to install ReferEngine in your app solution using the steps
                            below.
                        </div>
                    }
                    <h4>
                        1- Install the ReferEngine.JavaScript NuGet Package 
                        in your Windows Store App
                    </h4>
                    <div class="row">
                        <div class="span9">
                            <small><i class="icon-info-sign"></i> NuGet is a Visual Studio feature that makes it easy to install and update third-party libraries and tools in Visual Studio.</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span8 offset1">
                            <p><i class="icon-arrow-right"></i> Open your Windows Store solution with Visual Studio</p>
                            <p><i class="icon-arrow-right"></i> Open Package Manager Console (View > Other Windows > Package Manager Console)</p>
                            <p><i class="icon-arrow-right"></i> 
                                In Package Manager Console type this command:
                                <pre>install-package ReferEngine.JavaScript</pre>
                            </p>
                            <p>This will install the ReferEngine code files and setup your solution.</p>
                        </div>
                    </div>
                    <h4>2- Set your App Authorization Code</h4>
                    <div class="row">
                        <div class="span8 offset1">
                            <p><i class="icon-arrow-right"></i> Open the File ReferEngine\ReferEngine.Initialize.js</p>
                            <p><i class="icon-arrow-right"></i> Replace this line:
                                <pre>ReferEngineClient.appVerificationCode = "xxxxxxxxxxxxxxxxxx";</pre>
                                With this:
                                <pre>ReferEngineClient.appVerificationCode = "@viewProperties.CurrentApp.VerificationCode";</pre>
                            </p>
                            <p><i class="icon-arrow-right"></i> Save the file</p>
                        </div>
                    </div>
                    <h4>3- Test it out!</h4>
                    <div class="row">
                        <div class="span8 offset1">
                            <p>You are done! Let's test.</p>
                            <p><i class="icon-arrow-right"></i> Press F5 (launch the app under debugger)</p>
                            <p><i class="icon-arrow-right"></i> Open the JavaScript Console and type this command:
                                <pre>ReferEngine.show()</pre>
                            </p>
                        </div>
                    </div>
                </section>
                <section id="manage">
                    <h3>Manage</h3>
                    <hr />

                    <a class="btn btn-danger" href="#verify-app-delete" role="button" 
                                           data-toggle="modal">Delete App</a>
                </section>
            </div>
        </div>
    </div>
</div>

<div id="verify-app-delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Verify Deleting App" aria-hidden="true">
    <div class="modal-header">
        <h3>Are you sure?</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete @viewProperties.CurrentApp.Name? This will delete this app from your
        account permanently.
    </div>
    <div class="modal-footer">
    <a class="btn" href="#verify-app-delete" role="button" data-toggle="modal">Cancel</a>
    <a id="confirm-app-delete" class="btn btn-danger">Delete @viewProperties.CurrentApp.Name</a>
    </div>
</div>