<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.App.Name | Refer Engine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Apexa Inc.">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>

    @Html.Partial("_FavIcon")

    @RenderSection("styles", required: false)
</head>
    <body>
        <div id="re-ctnr">
            <header>
                @HtmlHelperExtensions.Image(Html, ViewBag.App.LogoLink50, ViewBag.App.Name, "app-logo")
                <div class="app-name">@ViewBag.App.Name</div>
                @Html.Partial("_LogoMark30")
                <h4 class="logo-text">Refer Engine</h4>
            </header>
            <span class="enc">
                &#x1f512; encrypted connection
            </span>
            <div id="re-content">
                @RenderBody()
            </div>
            <footer>
                @RenderSection("footer")
            </footer>
        </div>
        
        @Html.Partial("_MixPanel")
        @Scripts.Render("~/bundles/libs")
        @RenderSection("scripts", required: false)
        @Html.Partial("_CrazyEgg")
        @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    </body>
</html>
