@using ReferEngine.Common.Models
@using ReferEngine.Web.Areas.AppStore.ViewModels
@using U = ReferEngine.Common.Utilities
@model ReferEngine.Common.ViewModels.AppStore.Windows.WindowsAppViewModel

@{
    WindowsAppStoreInfo appInfo = Model.WindowsAppStoreInfo;
    WindowsAppStoreCategory category = appInfo.Category;
    IHtmlString appName = @Html.Raw(appInfo.Name);
    ViewBag.Title = appName + ViewResources.TitleSeparator + category.Name;
    ViewBag.Title += category.HasParent ? ViewResources.TitleSeparator + category.ParentCategoryName : "";
    ViewBag.PageDescription = appInfo.DescriptionHtml;
    
    string colorHtml = appInfo.BackgroundColor ?? "#00AFF0";
    System.Drawing.Color color = System.Drawing.ColorTranslator.FromHtml(colorHtml);
    U.HsbColor hsbColor = U.HsbColor.FromColor(color);
    U.HsbColor darkerHsbColor = new U.HsbColor(hsbColor.H, hsbColor.S, hsbColor.B * 0.8);
    string darkerColorHtml = System.Drawing.ColorTranslator.ToHtml(darkerHsbColor.Color);
    U.HsbColor brighterHsbColor = new U.HsbColor(hsbColor.H, hsbColor.S, hsbColor.B * 1.2);
    string brighterColorHtml = System.Drawing.ColorTranslator.ToHtml(brighterHsbColor.Color);
    
    bool isWindows8 = Model.UserAgentProperties.IsWindows8;
    bool supportsProtocolLaunching = Model.UserAgentProperties.SupportsProtocolLaunching;
}

@section MetaTags
{
    @{
        string url = U.Util.BaseUrl + "app-store/windows/" + Model.WindowsAppStoreInfo.LinkPart;
    }

    <meta name="msApplication-ID"               content="microsoft.build.App"/>
    <meta name="msApplication-PackageFamilyName" content="@Model.WindowsAppStoreInfo.PackageFamilyName"/>
    <meta property="fb:app_id"             content="368842109866922" /> 
    <meta property="og:type"               content="referengine:app" /> 
    <meta property="og:url"                content="@url" />
    <meta property="og:title"              content="@Model.WindowsAppStoreInfo.Name" />
    <meta property="og:description"        content="@HttpUtility.HtmlDecode(Model.WindowsAppStoreInfo.DescriptionHtml)" /> 
    <meta property="referengine:platform"  content="Windows 8" />
    @if (Model.App != null)
    {
        if (Model.App.VimeoLink != null)
        {
            <meta property="og:video" content="@Model.App.VimeoLink" />
        }
        if (Model.App.HighQualityLogoImage != null)
        {
            <meta property="og:image" content="@Model.App.HighQualityLogoImage.GetLink()" />
        }
    }
    @foreach (var img in Model.WindowsAppStoreInfo.CloudinaryImages)
    {
        <meta property="og:image" content="@img.GetLink()" />
    }
}

@section Navigation
{
    @{
        var navigationViewModel = new WindowsStoreNavigationViewModel
            {
                WindowsAppStoreCategory = category,
                WindowsAppStoreInfo = appInfo
            };
    }
    @Html.Partial("_WindowsStoreNavigation", navigationViewModel)
}

@section ScriptsAfterBody
{
    @{
        string jsUrl = U.Util.BaseUrl + "typescript/appstore/windows/windowsApp.js";
        double appId = Model.App != null ? Model.App.Id : -1;
    }
    <script>
        window.re = {};
        window.re["appId"] = "@appId";
    </script>

    <script data-main="@jsUrl" type="text/javascript" src="~/typescript/lib/require.js"></script>
}

<div class="row">
    <div class="span4">
        <aside>
            @{
                string storeLink;
                bool showDataToggle = false;
            }
            @if (isWindows8)
            {
                if (supportsProtocolLaunching)
                {
                    storeLink = "ms-windows-store:PDP?PFN=" + appInfo.PackageFamilyName;
                }
                else
                {
                    storeLink = "#cantOpenStore";
                    showDataToggle = true;
                }
            }
            else
            {
                storeLink = "#notWin8";
                showDataToggle = true;
            }
            <a class="text-center" href="@storeLink" @if (showDataToggle)
                                                     { <text>role = "button" data-toggle = "modal"</text> }>
                @* ReSharper disable Html.TagNotResolved *@
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="338px"
                     height="150px" viewBox="0 0 338 150" enable-background="new 0 0 338 150" xml:space="preserve">
                    <defs>
                        <linearGradient id="bgGradient" x1="0%" y1="0%" x2="0%" y2="100%" spreadMethod="pad">
                            <stop offset="10%" stop-color="@brighterColorHtml" stop-opacity="1"></stop>
                            <stop offset="90%" stop-color="@colorHtml" stop-opacity="1"></stop>
                        </linearGradient>
                    </defs>
                    <g id="Layer_2">
                        <rect fill="url(#bgGradient)" width="338" height="150"></rect>
                    </g>
                    <g id="Layer_1">
                        <g transform="translate(50.5)">
                            <g id="bag_18_">
                                <g id="handles_18_">
                                    <path fill="#FFFFFF" d="M117.249,27.803c-3.407,1.198-5.897,2.221-5.897,8.727v3.131l2.041-0.411v-2.704
					            c-0.051-4.414,1.097-5.337,4.074-6.622C117.453,29.091,117.379,28.385,117.249,27.803z"></path>
                                    <path fill="#FFFFFF" d="M123.182,26.411c0.135,0.63,0.242,1.315,0.314,2.052c5.334-0.767,5.232,1.433,5.232,6.026v1.697
					            l2.018-0.415v-1.283C130.746,27.356,129.633,25.445,123.182,26.411z"></path>
                                    <path fill="#FFFFFF" d="M102.162,41.498v-9.382c-0.065-5.811,2.937-7.59,8.478-8.889c8.347-1.958,8.877,3.424,8.877,6.847v7.953
					            l2.045-0.413V30.25c-0.021-6.479-2.041-11.331-11.331-9.226c-5.002,1.135-10.11,2.411-10.11,10.899v9.98L102.162,41.498z"></path>
                                </g>
                                <path fill="#FFFFFF" d="M140.961,36.202L84.807,47.429v40.84l56.154,11.229l11.225-4.084V40.285L140.961,36.202z M109.34,79.822
				            l-12.459-1.756V67.723h12.459V79.822z M109.34,66.154H96.881V56.64l12.459-1.759V66.154z M126.613,82.215l-15.708-2.295V67.723
				            h15.708V82.215z M126.613,66.154h-15.708V54.789l15.708-2.3V66.154z"></path>
                            </g>
                        </g>
                        <text transform="matrix(1 0 0 1 50.5 131.6768)" fill="#FFFFFF" font-family="'Segoe UI Light', 'Open Sans'" font-size="16">Download from the Windows Store</text>
                    </g>
                </svg>
                @* ReSharper restore Html.TagNotResolved *@
            </a>
            <div class="widget">
                <h4 class="heading">
                    <span class="btn" style="padding: 5px">
                        @*<i class="m-icon-big-swapdown m-icon-white"></i>*@
                        @{
                            var thumbsUpImage = new ImageTag("thumbs_up_icon_30_puu2vr", "png");
                        }
                        @thumbsUpImage.ToHtmlString()
                    </span>&nbsp;&nbsp;Verified Recommendations
                </h4>
                <div data-bind="visible: !RecommendersLoaded">
                    Loading recommendations...
                </div>
                <div data-bind="visible: RecommendersLoaded() && Recommenders().length == 0">
                    No recommendations yet.
                </div>
                <div data-bind="visible: RecommendersLoaded() && Recommenders().length > 0">
                    <!-- ko foreach: Recommenders -->
                        <li class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-bind="attr: { src: PictureUrl }" alt="" />
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading" style="font-size: 13px">
                                    <span data-bind="text: Name" style="font-weight: bold !important; color: #3b5998"></span>
                                    recommended @Model.WindowsAppStoreInfo.Name.
                                </h5>                         
                                <p style="font-size: 11px; color: #999; margin-top: -5px !important; margin-left: 20px">
                                    <span data-bind="text: Time"></span>
                                </p>
                            </div>
                        </li>
                    <!-- /ko -->
                </div>
                @*<img src="~/areas/assets/img/avatar.png" class="alignleft" alt="" />
                <h5>John doe</h5>
                <p>
                    Donec ullamcorper nulla non metus auctor fringilla commodo luctus
                </p>*@
            </div>
            <div class="widget">
                <h4 class="heading">
                    <span class="btn btn-mini"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;App Details
                </h4>
                <ul class="project-detal">
                    <li><label>Category :</label> @appInfo.Category.Name</li>
                    <li><label>Publisher:</label> @appInfo.Developer</li>
                    <li><label><a href="@appInfo.SupportLink">Support Link</a></label></li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="span8">
        <article class="blog-post">
            <div class="tooltip-demo headline">
                <h4>@appName</h4>
                <span class="comment"><a href="#recommendations">@Model.NumberOfRecommendations verified recommendations</a></span>
            </div>
            <div class="clearfix">
            </div>
            <div class="well">
                @*<a href="#">
		        <img src="~/areas/assets/img/dummies/big.jpg" alt="" />
		    </a>*@
                <div id="imageCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        @if (Model.App == null)
                        {
                            for (int i = 0; i < appInfo.CloudinaryImages.Count(); i++)
                            {
                                var image = appInfo.CloudinaryImages.ElementAt(i);
                                <div class="@MvcHtmlString.Create(i == 0 ? "active" : "") item">
                                    <img alt="@image.Description" src="@image.GetLink()" />
                                    <p>@Html.Raw(image.Description)</p>
                                </div>
                            }
                        }
                        else
                        {
                            bool renderedActive = false;
                            if (Model.App.VimeoLink != null)
                            {
                                renderedActive = true;
                                <div class="js-video item active">
@* ReSharper disable Html.Obsolete *@
                                    <iframe src="@Model.App.VimeoLink" width="732" height="412" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
@* ReSharper restore Html.Obsolete *@
                                </div>
                            }
                            for (int i = 0; i < Model.App.CloudinaryImages.Count(); i++)
                            {
                                var image = Model.App.CloudinaryImages.ElementAt(i);
                                <div class="@MvcHtmlString.Create(i == 0 && !renderedActive ? "active" : "") item">
                                    <img alt="@image.Description" src="@image.GetLink()" />
                                    <p>@Html.Raw(image.Description)</p>
                                </div>
                            }
                        }
                        <a class="carousel-control left" href="#imageCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#imageCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
                <p>@Html.Raw(appInfo.DescriptionHtml)</p>
            </div>
        </article>
    </div>
</div>

@if (isWindows8 && !supportsProtocolLaunching)
{
<div id="cantOpenStore" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="text-error">Oops! Browser Can't Open Windows Store</h3>
    </div>
    <div class="modal-body">
        <p>
            This browser can't open the Windows Store directly from a website. These browsers support this action: 
            Firefox and Internet Explorer.
        </p>
        <h4 class="text-success">How can I get this app?</h4>
        
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                The Regular Way
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <ol>
                    <li>
                        Launch the Windows Store
                    </li>
                    <li>
                        Search for "@appInfo.Name"<br />
                        <small>Hint: You can start typing at the homepage of the Windows Store to start searching</small>
                    </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                The Geeky Way
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <ol>
                    <li>
                        Launch the Command Prompt <br/>
                        <small>Hint: Hit WinKey + R, Type "cmd", Hit Enter</small>
                    </li>
                    <li>
                        Type or Copy paste this: <br />
                        <code>start ms-windows-store:PDP?PFN=@appInfo.PackageFamilyName</code>
                    </li>
                    <li>
                        Hit Enter
                    </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>        
}
else if (!isWindows8)
{
    <div id="notWin8" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Oops! Not a Windows 8 PC</h3>
        </div>
        <div class="modal-body">
            <p>
                @appInfo.Name is a Windows 8 application.
                You need to be on a Windows 8 PC to open the Windows Store and view @appInfo.Name.
            </p>
        </div>
    </div>      
}

<style>
    
    a {
        color: @colorHtml;
    }

    a:hover {
        color:#77b201;
    }

    .btn-link:hover {
        color: #77b201;
    }

    .color {
        background: @colorHtml;
        color:#fff;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
        border-color: @colorHtml;
        outline: 0;
        outline: thin dotted \9;
        /* IE6-9 */

    }

/* header */


    header .navbar .navbar-inner li.active {
        border-top: 5px solid #fff;
        background: @colorHtml;
        margin-top:-5px;
    }

    header .navbar .navbar-inner nav li.blob  {
        border-top: 5px solid @colorHtml;
        margin-top:-5px;
    }

    .dropdown-menu li > a:hover,
    .dropdown-menu li > a:focus,
    .dropdown-submenu:hover > a {
        background: @colorHtml;
    }

    .dropdown-menu li > a:hover,
    .dropdown-menu li > a:focus,
    .dropdown-submenu:hover > a {
        background-color: @colorHtml;
    }

    .dropdown-menu .active > a,
    .dropdown-menu .active > a:hover {
        background-color: @colorHtml;
    }

/* breadcrumb */
    .breadcrumb {
        border-left:5px solid @colorHtml;
    }


/* accordion */
    .accordion-group {
        border: 1px solid @colorHtml;
    }
    .accordion-inner {
        border-top: 1px solid @colorHtml;
    }
    .accordion-heading {
        background-color: @colorHtml;
    }

/* flexslider */
    .flex-direction-nav li a:hover {
        background:@colorHtml;
	
    }

/* carousel */
    .carousel-control {
        background: @colorHtml;
    }


@*/* eislide */
.es-nav .es-nav-prev{
    right: 17px;
    background:@colorHtml @Html.Raw(@"url(../img/icons/arrow-left.png) no-repeat right top;")
}
.es-nav .es-nav-next{background: @colorHtml url(../img/icons/arrow-right.png) no-repeat left top;}*@

/* button */
    .btn-link {
        color: @colorHtml;
    }

    .nav .dropdown-toggle .caret {
        margin-top: 6px;
        border-top-color: @colorHtml;
        border-bottom-color: @colorHtml;
    }

/* pagination */
    .pagination ul > li > a,
    .pagination ul > li > span {
        background-color: @colorHtml;
        border: 1px solid @colorHtml;
        color:#fff;
        border-left-width: 0;
    }


/* tabs */
    .nav-pills > .active > a,
    .nav-pills > .active > a:hover {
        color: #ffffff;
        background-color: @colorHtml;
    }


    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover {
        background-color: @colorHtml;
        color:#fff;
        border: none;
        border-bottom-color: transparent;
        cursor: default;
    }

/* label */
    .label-orange,
    .badge-orange {
        background-color: @colorHtml;
    }


/* nav */
    .nav-list > .active > a,
    .nav-list > .active > a:hover {
        background: @colorHtml;
    }


    .nav-pills > .active > a,
    .nav-pills > .active > a:hover {
        background: @colorHtml;
    }

    .nav .dropdown-toggle .caret {
        border-top-color: @colorHtml;
        border-bottom-color: @colorHtml;
    }

/* custom progress bar according template skin */
    .progress-orange .bar,
    .progress .bar-orange {
        background: @colorHtml;
    }

    .progress-orange.progress-striped .bar,
    .progress-striped .bar-orange {
        background: @colorHtml;
    }

/* form */
    .contact-form input:focus {
        border-color: @colorHtml;
    }

/* article */
    article .headline h4 a {
        color:@colorHtml;
    }

    article.last-post {
        background: @colorHtml;
    }

    ul.time-post li.year{
        border-bottom:1px solid @colorHtml;
    }

    section#subintro {
        background: @brighterColorHtml;
    }


    footer.footer {
        background:@colorHtml;
    }

 /* 404 */
 

    .error-body{
        background:@colorHtml;
        padding:20px;
        text-align:center;
    }


/* misc */
    a.thumbnail:hover {
        border-color: @colorHtml;
    }

    ul.filter li.active a:hover, a.zoom:hover, a.link_post:hover, .flex-control-nav li a:hover, .flex-control-nav li a.active{
        background: @colorHtml;
    }

    .thumbnail h4 a:hover, .thumbnail .meta  span a:hover, ul.recent li h6 a:hover, ul.post-meta li a:hover, .media-body span, .media-body .media-heading a:hover, form label span, article.last-post h5 a:hover{
        color: @colorHtml;
        text-decoration:none;
    }

/* nivo */
    .nivo-directionNav a, .nivo-controlNav a.active, .nivo-controlNav a:hover{
        background-color:@colorHtml;
    }

    .widget .heading {
        border-bottom: 1px solid @darkerColorHtml;
    }

    .widget .heading .btn {
        background-color: @darkerColorHtml;
        background-image: -moz-linear-gradient(top, @brighterColorHtml, @darkerColorHtml);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@brighterColorHtml), to(@darkerColorHtml));
        background-image: -webkit-linear-gradient(top, @brighterColorHtml, @darkerColorHtml);
        background-image: -o-linear-gradient(top, @brighterColorHtml, @darkerColorHtml);
        background-image: linear-gradient(to bottom, @brighterColorHtml, @darkerColorHtml);
    }

</style>