@using ReferEngine.Common.Models
@using ReferEngine.Common.Utilities;
@model ReferEngine.Common.ViewModels.AppStore.Windows.WindowsAppViewModel

@{
    bool isWindows8 = Model.UserAgentProperties.IsWindows8;
    bool supportsProtocolLaunching = Model.UserAgentProperties.SupportsProtocolLaunching;
    WindowsAppStoreInfo appInfo = Model.WindowsAppStoreInfo;

    string categoryLinkPart = Util.ConvertStringToUrlPart(Model.WindowsAppStoreInfo.Category.Name);
    string appLinkPart = Util.ConvertStringToUrlPart(Model.WindowsAppStoreInfo.Category.Name);
}

@section Navigation
{
@* ReSharper disable Html.PathError *@
    > <a href="~/appstore/windows/@categoryLinkPart" style="color: #FFF">@Model.WindowsAppStoreInfo.Category.Name</a>
    > <a href="~/appstore/windows/@appLinkPart" style="color: #FFF">@Model.WindowsAppStoreInfo.Name</a>
@* ReSharper restore Html.PathError *@
}

@section ScriptsAfterBody
{
    @if (Model.App != null)
    {
        <script>
            window.re = {};
            window.re["appId"] = "@Model.App.Id";
        </script>

        <script data-main="/typescript/appstore/windows/windowsApp.js" type="text/javascript" src="~/typescript/lib/require.js"></script>
    }
}

<div class="row">
    <div class="span4">
        <aside>
            @{
                string storeLink;
                bool showDataToggle = false;
            }
            @if (isWindows8)
            {
                if (supportsProtocolLaunching)
                {
                    storeLink = "ms-windows-store:PDP?PFN=" + Model.WindowsAppStoreInfo.PackageFamilyName;
                }
                else
                {
                    storeLink = "#cantOpenStore";
                    showDataToggle = true;
                }
            }
            else
            {
                storeLink = "#notWin8";
                showDataToggle = true;
            }
            <a class="text-center" href="@storeLink" @if (showDataToggle) { <text>role = "button" data-toggle = "modal"</text> }>
@* ReSharper disable Html.TagNotResolved *@
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="250px"
                     height="150px" viewBox="0 0 250 150" enable-background="new 0 0 250 150" xml:space="preserve">
                    <g id="Layer_2">
                        @{
                            string bgColor = !string.IsNullOrEmpty(Model.WindowsAppStoreInfo.BackgroundColor) ?
                                                 Model.WindowsAppStoreInfo.BackgroundColor : "#00AFF0";
                        }
                        <rect fill="@bgColor" width="250" height="150"/>
                    </g>
                    <g id="Layer_1">
                        <g>
                            <g id="bag_18_">
                                <g id="handles_18_">
                                    <path fill="#FFFFFF" d="M117.249,27.803c-3.407,1.198-5.897,2.221-5.897,8.727v3.131l2.041-0.411v-2.704
					            c-0.051-4.414,1.097-5.337,4.074-6.622C117.453,29.091,117.379,28.385,117.249,27.803z"/>
                                    <path fill="#FFFFFF" d="M123.182,26.411c0.135,0.63,0.242,1.315,0.314,2.052c5.334-0.767,5.232,1.433,5.232,6.026v1.697
					            l2.018-0.415v-1.283C130.746,27.356,129.633,25.445,123.182,26.411z"/>
                                    <path fill="#FFFFFF" d="M102.162,41.498v-9.382c-0.065-5.811,2.937-7.59,8.478-8.889c8.347-1.958,8.877,3.424,8.877,6.847v7.953
					            l2.045-0.413V30.25c-0.021-6.479-2.041-11.331-11.331-9.226c-5.002,1.135-10.11,2.411-10.11,10.899v9.98L102.162,41.498z"/>
                                </g>
                                <path fill="#FFFFFF" d="M140.961,36.202L84.807,47.429v40.84l56.154,11.229l11.225-4.084V40.285L140.961,36.202z M109.34,79.822
				            l-12.459-1.756V67.723h12.459V79.822z M109.34,66.154H96.881V56.64l12.459-1.759V66.154z M126.613,82.215l-15.708-2.295V67.723
				            h15.708V82.215z M126.613,66.154h-15.708V54.789l15.708-2.3V66.154z"/>
                            </g>
                        </g>
                        <text transform="matrix(1 0 0 1 21.209 131.6768)" fill="#FFFFFF" font-family="'Segoe UI Semilight'" font-size="14">Download from the Windows Store</text>
                    </g>
                </svg>
@* ReSharper restore Html.TagNotResolved *@
            </a>
@*            <div class="widget">
                <h4 class="heading-success"><span class="btn btn-large btn-success">
                                                <i class="m-icon-big-swapdown m-icon-white"></i>
                                            </span>&nbsp;&nbsp;Author detail</h4>
                <img src="~/areas/assets/img/avatar.png" class="alignleft" alt="" />
                <h5>John doe</h5>
                <p>
                    Donec ullamcorper nulla non metus auctor fringilla commodo luctus
                </p>
                <a href="#">Profile detail..</a>
            </div>
            <div class="widget">
                <h4 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;Project detail</h4>
                <ul class="project-detal">
                    <li><label>Category :</label> @appInfo.Category</li>
                    <li><label>Publisher:</label> @appInfo.Developer</li>
                    <li><label><a href="@appInfo.SupportLink">Support Link</a></label></li>
                </ul>
            </div>*@
        </aside>
    </div>
    <div class="span8">
        <article class="blog-post">
            <div class="tooltip-demo headline">
                <h4>@appInfo.Name</h4>
                <span class="comment"><a href="#recommendations">@Model.NumberOfRecommendations recommendations</a></span>
            </div>
            <div class="clearfix">
            </div>
            <div class="well">
                @*<a href="#">
		        <img src="~/areas/assets/img/dummies/big.jpg" alt="" />
		    </a>*@
                <div id="imageCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        @if (Model.App == null)
                        {
                            for (int i = 0; i < appInfo.CloudinaryImages.Count(); i++)
                            {
                                var image = appInfo.CloudinaryImages.ElementAt(i);
                                <div class="@MvcHtmlString.Create(i == 0 ? "active" : "") item">
                                    <img alt="@image.Description" src="@image.GetLink()" />
                                    <p>@image.Description</p>
                                </div>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < Model.App.CloudinaryImages.Count(); i++)
                            {
                                var image = Model.App.CloudinaryImages.ElementAt(i);
                                <div class="@MvcHtmlString.Create(i == 0 ? "active" : "") item">
                                    <img alt="@image.Description" src="@image.GetLink()" />
                                    <p>@image.Description</p>
                                </div>
                            }
                        }
                        <a class="carousel-control left" href="#imageCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#imageCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
                <p>@Html.Raw(appInfo.DescriptionHtml)</p>
            </div>
        </article>
        
        @if (Model.App != null)
        {
            <section id="recommendations">
                <h4>Latest Recommendations</h4>
                <ul class="media-list">
                    <!-- ko foreach: PeopleData -->
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" data-bind="attr: { src: PictureUrl }" alt="" />
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading" style="font-size: 13px">
                                <span data-bind="text: Name" style="font-weight: bold !important; color: #3b5998"></span>
                                recommended @Model.App.Name.
                            </h5>                         
                            <p style="font-size: 11px; color: #999; margin-top: -5px !important; margin-left: 20px">
                                <span data-bind="text: Time"></span>
                            </p>
                        </div>
                    </li>
                    <!-- /ko -->      
                </ul>
            </section>
        }
    </div>
</div>

@if (isWindows8 && !supportsProtocolLaunching)
{
<div id="cantOpenStore" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="text-error">Oops! Browser Can't Open Windows Store</h3>
    </div>
    <div class="modal-body">
        <p>
            This browser can't open the Windows Store directly from a website. These browsers support this action: 
            Firefox and Internet Explorer.
        </p>
        <h4 class="text-success">How can I get this app?</h4>
        
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                The Regular Way
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <ol>
                    <li>
                        Launch the Windows Store
                    </li>
                    <li>
                        Search for "@Model.WindowsAppStoreInfo.Name"<br />
                        <small>Hint: You can start typing at the homepage of the Windows Store to start searching</small>
                    </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                The Geeky Way
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <ol>
                    <li>
                        Launch the Command Prompt <br/>
                        <small>Hint: Hit WinKey + R, Type "cmd", Hit Enter</small>
                    </li>
                    <li>
                        Type or Copy paste this: <br />
                        <code>start ms-windows-store:PDP?PFN=@Model.WindowsAppStoreInfo.PackageFamilyName</code>
                    </li>
                    <li>
                        Hit Enter
                    </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>        
}
else if (!isWindows8)
{
    <div id="notWin8" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Oops! Not a Windows 8 PC</h3>
        </div>
        <div class="modal-body">
            <p>
                @Model.WindowsAppStoreInfo.Name is a Windows 8 application.
                You need to be on a Windows 8 PC to open the Windows Store and view @Model.WindowsAppStoreInfo.Name.
            </p>
        </div>
    </div>      
}

@{
    string color;
    if (string.IsNullOrEmpty(Model.WindowsAppStoreInfo.BackgroundColor))
    {
        color = "@color";
    }
    else
    {
        color = Model.WindowsAppStoreInfo.BackgroundColor;
    }
}

<style>
    
a {
	color: @color;
}

a:hover {
	color:#77b201;
}

.btn-link:hover {
  color: #77b201;
}

.color {
	background: @color;
	color:#fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: @color;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}

/* header */


header .navbar .navbar-inner li.active {
	border-top: 5px solid #fff;
	background: @color;
	margin-top:-5px;
}

header .navbar .navbar-inner nav li.blob  {
	border-top: 5px solid @color;
	margin-top:-5px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background: @color;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background-color: @color;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: @color;
}

/* breadcrumb */
.breadcrumb {
	border-left:5px solid @color;
}


/* accordion */
.accordion-group {
  border: 1px solid @color;
}
.accordion-inner {
  border-top: 1px solid @color;
}
.accordion-heading {
  background-color: @color;
}

/* flexslider */
.flex-direction-nav li a:hover {
	background:@color;
	
}

/* carousel */
.carousel-control {
  background: @color;
}


@*/* eislide */
.es-nav .es-nav-prev{
    right: 17px;
    background:@color @Html.Raw(@"url(../img/icons/arrow-left.png) no-repeat right top;")
}
.es-nav .es-nav-next{background: @color url(../img/icons/arrow-right.png) no-repeat left top;}*@

/* button */
.btn-link {
	color: @color;
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: @color;
  border-bottom-color: @color;
}

/* pagination */
.pagination ul > li > a,
.pagination ul > li > span {
  background-color: @color;
  border: 1px solid @color;
  color:#fff;
  border-left-width: 0;
}


/* tabs */
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: @color;
}


.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background-color: @color;
  color:#fff;
  border: none;
  border-bottom-color: transparent;
  cursor: default;
}

/* label */
.label-orange,
.badge-orange {
  background-color: @color;
}


/* nav */
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background: @color;
}


.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background: @color;
}

.nav .dropdown-toggle .caret {
  border-top-color: @color;
  border-bottom-color: @color;
}

/* custom progress bar according template skin */
.progress-orange .bar,
.progress .bar-orange {
  background: @color;
}

.progress-orange.progress-striped .bar,
.progress-striped .bar-orange {
  background: @color;
}

/* form */
.contact-form input:focus {
  border-color: @color;
}

/* article */
article .headline h4 a {
	color:@color;
}

article.last-post {
	background: @color;
}

ul.time-post li.year{
	border-bottom:1px solid @color;
}

section#subintro {
	background: @color;
}


footer.footer {
	background:@color;
}

 /* 404 */
 

.error-body{
	background:@color;
	padding:20px;
	text-align:center;
}


/* misc */
a.thumbnail:hover {
  border-color: @color;
}

ul.filter li.active a:hover, a.zoom:hover, a.link_post:hover, .flex-control-nav li a:hover, .flex-control-nav li a.active{
	background: @color;
}

.thumbnail h4 a:hover, .thumbnail .meta  span a:hover, ul.recent li h6 a:hover, ul.post-meta li a:hover, .media-body span, .media-body .media-heading a:hover, form label span, article.last-post h5 a:hover{
	color: @color;
	text-decoration:none;
}

/* nivo */
.nivo-directionNav a, .nivo-controlNav a.active, .nivo-controlNav a:hover{
	background-color:@color;
}

</style>