@using ReferEngine.Common.Models
@using ReferEngine.Web.Areas.AppStore.ViewModels
@using U = ReferEngine.Common.Utilities
@model ReferEngine.Common.ViewModels.AppStore.Windows.WindowsAppViewModel

@{
    WindowsAppStoreInfo appInfo = Model.WindowsAppStoreInfo;
    WindowsAppStoreCategory category = appInfo.Category;
    IHtmlString appName = @Html.Raw(appInfo.Name);
    ViewBag.Title = appName + ViewResources.TitleSeparator + category.Name;
    ViewBag.Title += category.HasParent ? ViewResources.TitleSeparator + category.ParentCategoryName : "";
    ViewBag.PageDescription = appInfo.DescriptionHtml;
    
    string colorHtml = appInfo.BackgroundColor ?? "#00AFF0";
    System.Drawing.Color color = System.Drawing.ColorTranslator.FromHtml(colorHtml);
    U.HsbColor hsbColor = U.HsbColor.FromColor(color);
    U.HsbColor darkerHsbColor = new U.HsbColor(hsbColor.H, hsbColor.S, hsbColor.B * 0.8);
    string darkerColorHtml = System.Drawing.ColorTranslator.ToHtml(darkerHsbColor.Color);
    U.HsbColor brighterHsbColor = new U.HsbColor(hsbColor.H, hsbColor.S, hsbColor.B * 1.2);
    string brighterColorHtml = System.Drawing.ColorTranslator.ToHtml(brighterHsbColor.Color);
    
    bool isWindows8 = Model.UserAgentProperties.IsWindows8;
}

@section MetaTags
{
    @{
        string url = U.Util.BaseUrl + "app-store/windows/" + Model.WindowsAppStoreInfo.LinkPart;
    }

    <meta name="msApplication-ID"               content="microsoft.build.App"/>
    <meta name="msApplication-PackageFamilyName" content="@Model.WindowsAppStoreInfo.PackageFamilyName"/>
    <meta property="fb:app_id"             content="368842109866922" /> 
    <meta property="og:type"               content="referengine:app" /> 
    <meta property="og:url"                content="@url" />
    <meta property="og:title"              content="@Model.WindowsAppStoreInfo.Name" />
    <meta property="og:description"        content="@HttpUtility.HtmlDecode(Model.WindowsAppStoreInfo.DescriptionHtml)" /> 
    <meta property="referengine:platform"  content="Windows 8" />
    @if (Model.App != null)
    {
        if (Model.App.VimeoLink != null)
        {
            <meta property="og:video" content="@Model.App.VimeoLink" />
        }
        if (Model.App.HighQualityLogoImage != null)
        {
            <meta property="og:image" content="@Model.App.HighQualityLogoImage.GetLink()" />
        }
    }
    @foreach (var appScreenshot in Model.WindowsAppStoreInfo.AppScreenshots)
    {
        <meta property="og:image" content="@appScreenshot.CloudinaryImage.GetLink()" />
    }
}

@section Navigation
{
    @{
        var navigationViewModel = new WindowsStoreNavigationViewModel
            {
                WindowsAppStoreCategory = category,
                WindowsAppStoreInfo = appInfo
            };
    }
    @Html.Partial("_WindowsStoreNavigation", navigationViewModel)
}

@section ScriptsAfterBody
{
    @{
        string jsUrl = U.Util.BaseUrl + "typescript/appstore/windows/windowsApp.js";
        double appId = Model.App != null ? Model.App.Id : -1;
    }
    <script>
        window.re = {};
        window.re["appId"] = "@appId";
    </script>

    <script data-main="@jsUrl" type="text/javascript" src="~/typescript/lib/require.js"></script>
}

<div class="row">
    <div class="span4">
        <aside>
            @if (isWindows8)
            {
                string storeLink = "ms-windows-store:PDP?PFN=" + appInfo.PackageFamilyName;
                <a id="open-win8-store" data-store-link="@storeLink" style="cursor: pointer">
                    @Html.Partial("_WindowsStoreDownloadTile", new List<string> { brighterColorHtml, colorHtml })
                </a>
                <iframe style="display:none" id="open-store-frame"></iframe>                
            }
            else
            {
                <a class="not-win8-link" href="#notWin8" role = "button" data-toggle = "modal">
                    @Html.Partial("_WindowsStoreDownloadTile", new List<string> { brighterColorHtml, colorHtml })
                </a>
            }

            <div class="widget" id="recommendations">
                <h4 class="heading">
                    <span class="btn" style="padding: 5px">
                        @{
                            var thumbsUpImage = new ImageTag("thumbs_up_icon_30_puu2vr", "png");
                        }
                        @thumbsUpImage.ToHtmlString()
                    </span>&nbsp;&nbsp;Verified Recommendations
                </h4>
                <div data-bind="visible: !RecommendersLoaded">
                    Loading recommendations...
                </div>
                <div data-bind="visible: RecommendersLoaded() && Recommenders().length == 0">
                    No recommendations yet.
                </div>
                <div data-bind="visible: RecommendersLoaded() && Recommenders().length > 0">
                    <!-- ko foreach: Recommenders -->
                        <li class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" data-bind="attr: { src: PictureUrl }" alt="" />
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading" style="font-size: 13px">
                                    <span data-bind="text: Name" style="font-weight: bold !important; color: #3b5998"></span>
                                    recommended @Model.WindowsAppStoreInfo.Name.
                                </h5>                         
                                <p style="font-size: 11px; color: #999; margin-top: -5px !important; margin-left: 20px">
                                    <span data-bind="text: Time"></span>
                                </p>
                            </div>
                        </li>
                    <!-- /ko -->
                </div>
                @*<img src="~/areas/assets/img/avatar.png" class="alignleft" alt="" />
                <h5>John doe</h5>
                <p>
                    Donec ullamcorper nulla non metus auctor fringilla commodo luctus
                </p>*@
            </div>
            <div class="widget">
                <h4 class="heading">
                    <span class="btn btn-mini"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;App Details
                </h4>
                <ul class="project-detal">
                    <li><label>Category :</label> @appInfo.Category.Name</li>
                    <li><label>Publisher:</label> @appInfo.Developer</li>
                    <li><label><a href="@appInfo.SupportLink">Support Link</a></label></li>
                </ul>
            </div>
        </aside>
    </div>
    <div class="span8">
        <article class="blog-post">
            <div class="tooltip-demo headline">
                <h4>@appName</h4>
                <span class="comment"><a href="#recommendations">@Model.NumberOfRecommendations verified recommendations</a></span>
            </div>
            <div class="clearfix">
            </div>
            <div class="well">
                <div id="imageCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        @if (Model.App == null)
                        {
                            for (int i = 0; i < appInfo.AppScreenshots.Count(); i++)
                            {
                                var image = appInfo.AppScreenshots.ElementAt(i).CloudinaryImage;
                                <div class="@MvcHtmlString.Create(i == 0 ? "active" : "") item">
                                    <img alt="@image.Description" src="@image.GetLink()" />
                                    <p>@Html.Raw(image.Description)</p>
                                </div>
                            }
                        }
                        else
                        {
                            bool renderedActive = false;
                            if (Model.App.VimeoLink != null)
                            {
                                renderedActive = true;
                                <div class="js-video item active">
@* ReSharper disable Html.Obsolete *@
                                    <iframe src="@Model.App.VimeoLink" width="732" height="412" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
@* ReSharper restore Html.Obsolete *@
                                </div>
                            }
                            for (int i = 0; i < Model.App.AppScreenshots.Count(); i++)
                            {
                                var image = Model.App.AppScreenshots.ElementAt(i).CloudinaryImage;
                                <div class="@MvcHtmlString.Create(i == 0 && !renderedActive ? "active" : "") item">
                                    <img alt="@image.Description" src="@image.GetLink()" />
                                    <p>@Html.Raw(image.Description)</p>
                                </div>
                            }
                        }
                        <a class="carousel-control left" href="#imageCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#imageCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
                <p>@Html.Raw(appInfo.DescriptionHtml)</p>
            </div>
        </article>
    </div>
</div>

@if (!isWindows8)
{
    <div id="notWin8" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Oops! Not a Windows 8 PC</h3>
        </div>
        <div class="modal-body">
            <p>
                @appInfo.Name is a Windows 8 application.
                You need to be on a Windows 8 PC to open the Windows Store and view @appInfo.Name.
            </p>
        </div>
    </div>      
}

<style>
    
    a {
        color: @colorHtml;
    }

    a:hover {
        color:#77b201;
    }

    .btn-link:hover {
        color: #77b201;
    }

    .color {
        background: @colorHtml;
        color:#fff;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
        border-color: @colorHtml;
        outline: 0;
        outline: thin dotted \9;
        /* IE6-9 */

    }

/* header */


    header .navbar .navbar-inner li.active {
        border-top: 5px solid #fff;
        background: @colorHtml;
        margin-top:-5px;
    }

    header .navbar .navbar-inner nav li.blob  {
        border-top: 5px solid @colorHtml;
        margin-top:-5px;
    }

    .dropdown-menu li > a:hover,
    .dropdown-menu li > a:focus,
    .dropdown-submenu:hover > a {
        background: @colorHtml;
    }

    .dropdown-menu li > a:hover,
    .dropdown-menu li > a:focus,
    .dropdown-submenu:hover > a {
        background-color: @colorHtml;
    }

    .dropdown-menu .active > a,
    .dropdown-menu .active > a:hover {
        background-color: @colorHtml;
    }

/* breadcrumb */
    .breadcrumb {
        border-left:5px solid @colorHtml;
    }


/* accordion */
    .accordion-group {
        border: 1px solid @colorHtml;
    }
    .accordion-inner {
        border-top: 1px solid @colorHtml;
    }
    .accordion-heading {
        background-color: @colorHtml;
    }

/* flexslider */
    .flex-direction-nav li a:hover {
        background:@colorHtml;
	
    }

/* carousel */
    .carousel-control {
        background: @colorHtml;
    }


@*/* eislide */
.es-nav .es-nav-prev{
    right: 17px;
    background:@colorHtml @Html.Raw(@"url(../img/icons/arrow-left.png) no-repeat right top;")
}
.es-nav .es-nav-next{background: @colorHtml url(../img/icons/arrow-right.png) no-repeat left top;}*@

/* button */
    .btn-link {
        color: @colorHtml;
    }

    .nav .dropdown-toggle .caret {
        margin-top: 6px;
        border-top-color: @colorHtml;
        border-bottom-color: @colorHtml;
    }

/* pagination */
    .pagination ul > li > a,
    .pagination ul > li > span {
        background-color: @colorHtml;
        border: 1px solid @colorHtml;
        color:#fff;
        border-left-width: 0;
    }


/* tabs */
    .nav-pills > .active > a,
    .nav-pills > .active > a:hover {
        color: #ffffff;
        background-color: @colorHtml;
    }


    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover {
        background-color: @colorHtml;
        color:#fff;
        border: none;
        border-bottom-color: transparent;
        cursor: default;
    }

/* label */
    .label-orange,
    .badge-orange {
        background-color: @colorHtml;
    }


/* nav */
    .nav-list > .active > a,
    .nav-list > .active > a:hover {
        background: @colorHtml;
    }


    .nav-pills > .active > a,
    .nav-pills > .active > a:hover {
        background: @colorHtml;
    }

    .nav .dropdown-toggle .caret {
        border-top-color: @colorHtml;
        border-bottom-color: @colorHtml;
    }

/* custom progress bar according template skin */
    .progress-orange .bar,
    .progress .bar-orange {
        background: @colorHtml;
    }

    .progress-orange.progress-striped .bar,
    .progress-striped .bar-orange {
        background: @colorHtml;
    }

/* form */
    .contact-form input:focus {
        border-color: @colorHtml;
    }

/* article */
    article .headline h4 a {
        color:@colorHtml;
    }

    article.last-post {
        background: @colorHtml;
    }

    ul.time-post li.year{
        border-bottom:1px solid @colorHtml;
    }

    section#subintro {
        background: @brighterColorHtml;
    }


    footer.footer {
        background:@colorHtml;
    }

 /* 404 */
 

    .error-body{
        background:@colorHtml;
        padding:20px;
        text-align:center;
    }


/* misc */
    a.thumbnail:hover {
        border-color: @colorHtml;
    }

    ul.filter li.active a:hover, a.zoom:hover, a.link_post:hover, .flex-control-nav li a:hover, .flex-control-nav li a.active{
        background: @colorHtml;
    }

    .thumbnail h4 a:hover, .thumbnail .meta  span a:hover, ul.recent li h6 a:hover, ul.post-meta li a:hover, .media-body span, .media-body .media-heading a:hover, form label span, article.last-post h5 a:hover{
        color: @colorHtml;
        text-decoration:none;
    }

/* nivo */
    .nivo-directionNav a, .nivo-controlNav a.active, .nivo-controlNav a:hover{
        background-color:@colorHtml;
    }

    .widget .heading {
        border-bottom: 1px solid @darkerColorHtml;
    }

    .widget .heading .btn {
        background-color: @darkerColorHtml;
        background-image: -moz-linear-gradient(top, @brighterColorHtml, @darkerColorHtml);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@brighterColorHtml), to(@darkerColorHtml));
        background-image: -webkit-linear-gradient(top, @brighterColorHtml, @darkerColorHtml);
        background-image: -o-linear-gradient(top, @brighterColorHtml, @darkerColorHtml);
        background-image: linear-gradient(to bottom, @brighterColorHtml, @darkerColorHtml);
    }

</style>