@using ReferEngine.Web.Areas.AppStore.ViewModels
@model ReferEngine.Common.ViewModels.AppStore.Windows.WindowsCategoryViewModel

@{
    ViewBag.Title = Model.Category.Name;
    if (Model.Category.HasParent)
    {
        ViewBag.Title += ViewResources.TitleSeparator + Model.Category.ParentCategoryName;
    }
    ViewBag.PageDescription = Model.Category.Name;
}

@section Navigation
{
    @{
        var navigationViewModel = new WindowsStoreNavigationViewModel
            {
                WindowsAppStoreCategory = Model.Category
            };
    }
    @Html.Partial("_WindowsStoreNavigation", navigationViewModel)
}

<div class="row">
    <ul class="portfolio-area da-thumbs"> 
        @foreach (var category in Model.SubCategories)
        {
            @Html.Partial("_WindowsCategoryTile", category)
        }
    </ul>
</div>

<div class="row">
    <div class="span12">
        <div class="btn-group pull-right">
        @if (Model.PageNumber > 1)
        {
            var prevPage = Model.PageNumber - 1;
            var link = Model.Category.LinkPart + "?page=" + prevPage;
            <a class="btn" href="~/app-store/windows/@link"><i class="icon-arrow-left"></i></a>
        }
            <a class="btn disabled">@Model.PageNumber</a>
        @{
            var nextPage = Model.PageNumber + 1;
            var nextLink = Model.Category.LinkPart + "?page=" + nextPage;
        }
            <a class="btn" href="~/app-store/windows/@nextLink"><i class="icon-arrow-right"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <ul class="portfolio-area da-thumbs">    
        @foreach (var appInfo in Model.WindowsAppStoreInfos)
        {
            <li class="portfolio-item2" data-id="id-0" data-type="web">
                <div class="span4">
                    <div class="thumbnail">
                        <a href="~/app-store/windows/@appInfo.LinkPart" style="color: white">
                            <div class="image-wrapp">
                                @if (appInfo.AppScreenshots != null && appInfo.AppScreenshots.Any())
                                {
                                    <img src="@appInfo.AppScreenshots.First().CloudinaryImage.GetLink("h_120,w_370,c_fill")" 
                                        height="120" width="370" alt="@appInfo.Name" title="" />
                                }
                                else
                                {
                                    <img src="~/areas/assets/img/dummies/work1.jpg" style="height: 90px; width: 270px"  alt="@appInfo.Name" title="" />
                                }
                            </div>
                            <div style="background-color: @appInfo.BackgroundColor;  height: 50px; overflow: hidden;
                                padding: 10px">
                                @if (appInfo.LogoImage != null)
                                {
                                    <img height="50" width="50" src="@appInfo.LogoImage.GetLink()" style="float: left; "/>
                                }
                                <h3 style="margin-left: 60px; margin-top: 0; text-overflow: ellipsis;
                                          -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis;
                                           white-space: nowrap; overflow: hidden ">
                                    @Html.Raw(appInfo.Name)
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </li>  
        }
    </ul>
</div>

