@model ReferEngine.Web.Models.Admin.AdminViewModel

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var userMembership in Model.UserMemberships)
                        {
                            <tr>
                                <td>@userMembership.User.Id</td>
                                <td>@userMembership.User.FirstName</td>
                                <td>@userMembership.User.LastName</td>
                                <td>@userMembership.User.Email</td>
                                <td>@userMembership.Role</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
