@using ReferEngine.Common.Utilities
@model ReferEngine.Common.Models.App

@{
    ViewBag.Title = "Refer Engine Intro";
    ViewBag.App = Model;
}

@section scripts
{
    <script type="text/javascript">
        var re = {};
        re.appName = "@Model.Name";
        re.appId = @Model.Id
    </script>

    @Scripts.Render("~/bundles/js/recommend/win8/intro")
}

@section styles
{
    @Styles.Render("~/bundles/less/recommend/win8/intro")
}

@Html.Image(Server.MapPath("~/img/recommend/win8/start-arrow.png"), "Start here!", "start-arrow")

<div class="center-content">
    <div class="banner login">
        Win cash by recommending @Model.Name to your friends! 
    </div>
    
    @Html.Image(Server.MapPath("~/img/recommend/win8/intro-steps.png"), "Recommend Your Friends", "intro-steps login")
    
    <div class="steps title">
        <div class="rcmnd login">Recommend</div>
        <div class="earn login">Win</div>
    </div>
    <div class="steps text">
        <div class="rcmnd">
            <span>share with your friends on facebook.</span>
        </div>
        <div class="earn">
            <span>win $2 cash for every 3 friends who buy the app<sup>*</sup></span>
        </div>
    </div>
    
    <div class="rules">
        <sup>*</sup>
        @Html.RouteLink("Other rules apply", "Default", new { controller = "About", action = "Rules", Id = 21 },
                new { target = "_blank" })
    </div>
</div>

@section footer
{
    <div>
        <div class="chkCtnr">
            <input type="checkbox" id="dontAsk" />
            <label for="dontAsk">Don't ask me again</label>
        </div>
        <a class="m-btn no" id="re-cancel">Cancel</a>
        <a class="m-btn go" class="login">Log In to Facebook</a>
    </div>
}
