<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        @{
            string title = ViewResources.WindowsStoreApps +
                           ViewResources.TitleSeparator +
                           ViewResources.ReferEngine;
            if (ViewBag.Title != null)
            {
                title = ViewBag.Title +
                        ViewResources.TitleSeparator +
                        title;
            }
        }
        @title
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ReferEngine.com">
    @{
        string pageDescription = ViewResources.MainDescription;
        if (ViewBag.PageDescription != null)
        {
            pageDescription = ViewBag.PageDescription + pageDescription;
        }
    }
    <meta name="description" content="@pageDescription">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    @Styles.Render("~/bundles/defaultLayout")
    @Html.Partial("_FavIcon")
</head>
<body>
    <header>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand logo" href="~/">
                        @Images.LogoWebHeader.Height(35).Width(35).Alt(ViewResources.ReferEngine).Attribute("style", "width: 200px; height: 35px").ToHtmlString("w_400,h_70")
                    </a>
                    <div>
                        <nav>
                            <ul class="nav topnav">
                                <li class="primary">
                                    <a href="~/app-store/windows">Windows Store Apps</a>
                                </li>
                                @*<li class="success">
                                    <a href="~/app-store/windows">iPhone and iPad Apps</a>
                                </li>*@
                                <li class="info">
                                    <a href="~/developer">Developers</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="subintro" style="margin-top: 0">
        <div class="jumbotron subhead" id="overview" style="padding: 0; margin-bottom: 10px">
            <div class="container">
                <div class="row" style="margin-bottom: 0">
                    <div class="span8">
                        <h3 style="padding-top: 5px"><i class="m-icon-big-swapright m-icon-white"></i>
                            @RenderSection("Navigation", false)
                        </h3>
                    </div>
                    <div class="span4">
                        <div class="input-append pull-right">
                            <form class="form-search">
                                <input type="text" class="input-medium search-query">
                                <button type="submit" class="btn btn-inverse">@ViewResources.Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="maincontent">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    @Html.Partial("_Footer")
    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <p>
                        @ViewResources.FooterCopyrightStatement
                    </p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/bundles/defaultLayout")
    @RenderSection("ScriptsAfterBody", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>