<div class="footer">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="widget">
                    <h4>@ViewResources.QuickLinks</h4>
                    <ul class="nav nav-list regular">
                        <li>@Links.Home(ViewResources.Home)</li>
                        <li>@Links.Contact(ViewResources.Contact)</li>
                        <li>@Links.WindowsAppStore(ViewResources.WindowsStoreApps)</li>
                        <li>@Links.Developer(ViewResources.Developers)</li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <div class="widget">
                    <h4>@ViewResources.Company</h4>
                    <ul class="nav nav-list regular">
                        <li>@Links.PrivacyPolicy(ViewResources.PrivacyPolicy)</li>
                        <li>@Links.TermsOfUse(ViewResources.TermsOfUse)</li>
                        <li>@Links.AcceptableUsePolicy(ViewResources.AcceptableUsePolicy)</li>
                        <li>@Links.Copyright(ViewResources.Copyright)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
