@{
ViewProperties viewProperties = ((ViewProperties)ViewData["ViewProperties"]);
}

<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            @if (Request.IsAuthenticated && viewProperties != null && viewProperties.CurrentUser != null)
            {
                <ul class="nav">
                    @if (viewProperties.CurrentUser.Apps != null && viewProperties.CurrentUser.Apps.Count > 0)
                    {
                        <div class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                @if (viewProperties.CurrentApp == null)
                                {
                                    <span>Your Apps</span>
                                }
                                else
                                {
                                    <span>@viewProperties.CurrentApp.Name</span>
                                }
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                @for (int i = 0; i < viewProperties.CurrentUser.Apps.Count; i++)
                                {
                                    <li>
                                        <a tabindex="-1" href="~/app/dashboard/@viewProperties.CurrentUser.Apps[i].Id">@viewProperties.CurrentUser.Apps[i].Name</a>
                                    </li>
                                }
                                <li class="divider"></li>
                                <li><a href="~/app/new"><i class="icon-plus-sign"></i> Add New App</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a href="~/app/new" class="btn"><i class="icon-plus-sign"></i> Add New App</a>
                    }                           
                </ul>

                <div class="nav-collapse collapse">
                    @if (viewProperties.CurrentApp != null)
                    {
                        <ul class="nav pull-left" id="dev-links">
                            <li @if(viewProperties.ActiveMenuItem == "Dashboard"){<text>class="active"</text>}>
                                <a href="~/app/dashboard/@viewProperties.CurrentApp.Id">Dashboard</a>
                            </li>
                            <li @if(viewProperties.ActiveMenuItem == "Settings"){<text>class="active"</text>}>
                                <a href="~/app/settings/@viewProperties.CurrentApp.Id">Settings</a>
                            </li>
                        </ul>
                    }
                    <ul class="nav pull-right">
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="~/admin/panel">Admin Panel</a></li>
                        }
                        <li class="pull-right">
                            <form action="~/account/logOff" id="logoutForm" method="post">
                                <div class="btn-group">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        @if (viewProperties.IsFacebookUser)
                                        {
                                            <img src="@viewProperties.FacebookAccessSession.GetCurrentUser().PictureUrl" />
                                        }
                                        <span>@viewProperties.CurrentUser.FirstName @viewProperties.CurrentUser.LastName</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="~/account/manage"><i class="icon-wrench"></i>Account</a></li>
                                        <li class="divider"></li>
                                        <li>
                                            @Html.AntiForgeryToken()
                                            <a href=" javascript:document.getElementById('logoutForm').submit() "><i class="icon-off"></i>Sign Out</a>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <a class="brand logo" href="~/">
                    @Images.LogoWebHeader.Height(35).Width(35).Alt(ViewResources.ReferEngine).Attribute("style", "width: 200px; height: 35px").ToHtmlString("w_400,h_70")
                </a>
                <ul class="nav topnav">
                    <li>@Links.WindowsAppStore(ViewResources.WindowsStoreApps)</li>
                    <li>@Links.Developer(ViewResources.Developers)</li>
                    <li class="divider-vertical"></li>
                    <div class="btn-group" id="login-group">
                        <a class="btn btn-primary" id="log-in-hdr" href="~/account/login">Log In</a>
                        <a class="btn btn-success" href="#private-beta" role="button" 
                            data-toggle="modal" id="request-invite-hdr">Request an Invite</a>
                    </div>
                </ul>
            }
        </div>
    </div>
</div>