<!DOCTYPE html>
<html lang="en">
    @RenderSection("CustomHead", false)
    <head>
        @{
            const string baseTitle = "Refer Engine | Facebook Marketing for App Developers";
            string title = baseTitle;
            if (!string.IsNullOrEmpty(ViewProperties.PageTitle))
            {
                title = title + " | " + ViewProperties.PageTitle;
            }
            string desc = "Refer Engine is a Facebook integration service for applications that helps developers in marketing " +
                          "their apps by rewarding their customers for successful recommendations.";
        }
        <title>@title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="@desc">
        <meta name="author" content="Apexa Inc.">
        <meta property="og:title" content="@title"/> 
        <meta property="og:url" content="@Request.Url"/> 
        <meta property="og:description" content="@desc"/> 
        <meta property="og:image" content="https://www.referengine.com/img/logo-mark-50.png"/> 

        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
        @Html.Partial("_FavIcon")
        @Html.Partial("_SetJavaScriptGlobalVariables")

        @Styles.Render("~/bundles/css/bootstrap")
        @Styles.Render("~/bundles/less/web")
        @RenderSection("styles", required: false)
    </head>
    <body>
        <div class='notifications top-right'></div>

        @if (Request.IsAuthenticated && ViewProperties.CurrentUser != null)
        {
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>		

                        <ul class="nav pull-left">
                            @if (ViewProperties.CurrentUser.Apps != null && ViewProperties.CurrentUser.Apps.Count > 0)
                            {
                                <div class="btn-group">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        @if (ViewProperties.CurrentApp == null)
                                        {
                                            <span>My Apps</span>
                                        }
                                        else
                                        {
                                            <span>@ViewProperties.CurrentApp.Name</span>
                                        }
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @for (int i = 0; i < ViewProperties.CurrentUser.Apps.Count; i++)
                                        {
                                            <li><a tabindex="-1" href="~/app/dashboard/@ViewProperties.CurrentUser.Apps[i].Id">@ViewProperties.CurrentUser.Apps[i].Name</a></li>
                                        }
                                        <li class="divider"></li>
                                        <li><a href="~/app/new"><i class="icon-plus-sign"></i> Add New App</a></li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <a href="~/app/new" class="btn"><i class="icon-plus-sign"></i> Add New App</a>
                            }                           
                        </ul>

                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a href="~/admin/errors" target="_blank">Server Errors</a></li>
                                    <li><a href="~/admin/admin">Admin Panel</a></li>
                                }
                                <li><a href="~/account/manage">@ViewProperties.CurrentUser.FirstName @ViewProperties.CurrentUser.LastName</a></li>
                                <li>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">(sign out)</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>		
                        <a class="brand" href="~/"><img src="~/img/logo-web-header.png" alt="@baseTitle" /></a>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                @*<li><a href="~/howitworks">How it works</a></li>*@
                                <li><a href="~/pricing">Pricing</a></li>
                                <li><a href="~/contact">Contact</a></li>
                                <li><a>|</a></li>
                                <li>
                                    <div class="btn-group" id="login-group">
                                        <a class="btn" id="log-in-hdr" href="~/account/login">Log In</a>
                                        <a class="btn btn-success" href="#private-beta" role="button" 
                                           data-toggle="modal" id="request-invite-hdr">Request an Invite</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }

        @RenderBody()
    
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="~/">Home</a></li>
                            @*<li><a href="~/howitworks">How it works</a></li>*@
                            <li><a href="~/pricing">Pricing</a></li>
                            <li><a href="~/contact">Contact</a></li>
                        </ul>			
                    </div>
                    <div class="span3">		
                        <h4>Company</h4>
                        <ul>
                            @*<li><a href="~/about">About Us</a></li>*@
                            <li><a href="~/about/privacy">Privacy Policy</a></li>
                            <li><a href="~/about/terms">Terms of Use</a></li>
                            <li><a href="~/about/use">Acceptable Use Policy</a></li>
                            <li><a href="~/about/copyright">Copyright</a></li>
                        </ul>	
                    </div>  
                </div>	  
            </div>	  
        </div>
        
        <div id="copywrite">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <p>&copy; @DateTime.Now.Year <img src="~/img/logo-mark-white-25.png" /> ReferEngine.com <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up"></i></span></p>
                    </div>		  
                </div>
            </div>	  
        </div>
    

        @Scripts.Render("~/bundles/libs/base")
        @Scripts.Render("~/bundles/libs/jquery-validate")
        @Html.Partial("_MixPanel")

        @if (ViewProperties.UseJQueryUi)
        {
            @Scripts.Render("~/bundles/libs/jquery-ui")
        }

        @RenderSection("scripts", required: false)
        @StackExchange.Profiling.MiniProfiler.RenderIncludes()
        
        
        @{ ViewProperties.UseJQueryValidate = true; }
        @Html.Partial("_PrivateBeta")
        
        
        @if (Request.IsAuthenticated && ViewProperties.CurrentUser != null)
        {
            //@Scripts.Render("~/js/shared/layout-auth")
        }
        else
        {
            @Scripts.Render("~/js/shared/layout-not-auth")
        }
    </body>

</html>
