@using ReferEngine.Common.Utilities;

<!DOCTYPE html>
<html lang="en">
    @RenderSection("CustomHead", false)
    <head>
        <title>Refer Engine - Make your iOS, Android and Windows 8 Apps Go Viral!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Apexa Inc.">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
        @Html.Partial("_FavIcon")

        @Styles.Render("~/bundles/css/bootstrap")
        @Styles.Render("~/bundles/less/web")
        @RenderSection("styles", required: false)
    </head>
    <body>
         
        @if (Request.IsAuthenticated)
        {
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>		
                        
                        <ul class="nav pull-left">
                            <a class="btn" href="~/app/new"><i class="icon-plus-sign"></i> Add New App</a>
                        </ul>

                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a href="~/admin/errors" target="_blank">Server Errors</a></li>
                                    <li><a href="~/admin/admin">Admin Panel</a></li>
                                }
                                @HtmlHelperExtensions.NavLinkItem(Html, Html.RouteLink(User.Identity.Name, "Default", new {controller = "account", action = "manage"}), ViewBag.MenuActive == "Account")
                                <li>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">(sign out)</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!Convert.ToBoolean(ViewBag.HideHeader))
        {
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>		
                        <a class="brand" href="~/"><img src="~/img/logo-web-header.png" alt="Refer Engine Logo" /></a>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                @*@HtmlHelperExtensions.NavLinkItem(Html, Html.RouteLink("Features", "Default", new {controller = "Features"}), ViewBag.MenuActive == "Features")*@
                                @HtmlHelperExtensions.NavLinkItem(Html, Html.RouteLink("Pricing", "Default", new {controller = "pricing"}), ViewBag.MenuActive == "Pricing")
                                @HtmlHelperExtensions.NavLinkItem(Html, Html.RouteLink("Contact", "Default", new {controller = "contact"}), ViewBag.MenuActive == "Contact")
                                @*@HtmlHelperExtensions.NavLinkItem(Html, Html.RouteLink("Log In", "Default", new {controller = "account", action = "login"}), ViewBag.MenuActive == "Login")*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }

        @RenderBody()
    
	    <div id="footer">
	      <div class="container">
	        <div class="row">
		      <div class="span3">
			    <h3>Quick Links</h3>
			    <ul>
			      <li><a href="~/">Home</a></li>
			      @*<li><a href="~/features">Features</a></li>*@
			      <li><a href="~/pricing">Pricing</a></li>
			      <li><a href="~/contact">Contact</a></li>
			    </ul>			
		      </div>
		      <div class="span3">		
			    <h3>Company</h3>
			    <ul>
			      @*<li><a href="~/about">About Us</a></li>*@
			      <li><a href="~/about/privacy">Privacy Policy</a></li>
			      <li><a href="~/about/terms">Terms of Use</a></li>
			      <li><a href="~/about/use">Acceptable Use Policy</a></li>
			      <li><a href="~/about/copyright">Copyright</a></li>
			    </ul>	
		      </div>  
		    </div>	  
          </div>	  
        </div>
        

        @if (!Convert.ToBoolean(ViewBag.HideFooter))
        {
            <div id="copywrite">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <p>&copy; @DateTime.Now.Year <img src="~/img/logo-mark-white-25.png" /> ReferEngine.com <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up"></i></span></p>
                        </div>		  
                    </div>
                </div>	  
            </div>
        }
    
        @if (Convert.ToBoolean(ViewBag.ShowPowered))
        {
            <div class="container" style="text-align: right">
                <div class="row">
                    <div class="span12">
                        <img src="~/img/logo-powered.png" />
                    </div>		  
                </div>
            </div>
        }        
        
        @Html.Partial("_MixPanel")
        @Scripts.Render("~/bundles/libs")
        @RenderSection("scripts", required: false)
    </body>
</html>
