@model ReferEngine.Models.Refer.Win8.FriendsViewModel

@section scripts
{
    @*@Scripts.Render("~/js/lib/jquery.aceditable")*@
    @Scripts.Render("~/js/refer/win8/friends")
}

@section styles
{
    @*@Styles.Render("~/css/lib/jquery.aceditable")*@
    @Styles.Render("~/css/refer/win8/friends")
}

@*<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: '368842109866922', 
      channelUrl : 'http://www.referengine.COM/facebook_channel.html', 
      status     : true, 
      cookie     : true, 
      xfbml      : true  
    });

    // Additional initialization code such as adding Event Listeners goes here

  };

  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
</script>*@

<input type="hidden" id="appId" value="@Model.App.Id" />
<input type="hidden" id="userAccessToken" value="@Model.UserAccessToken" />

<div class="container">
    <div class="row">
        <h2 class="span12">Welcome, <span>@Model.Me.FirstName</span>!
        </h2>
    </div>
    <form class=".form-horizontal">
        <div class="control-group">
            <label class="control-label">
                Custom message: (use @@ to tag your friends)
            </label>
            <div class="controls">
                <div contenteditable id="message" class="input-medium"></div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a id="submit-button" class="btn btn-success">Post Recommendation to Facebook</a>
            </div>
        </div>
    </form>
</div>
