@model ReferEngine.Web.Models.AppModels.AppDashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}


@*@if (Model.User.Apps.Any())
{
    if (Model.User.Apps.Count == 1)
    {
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                @Model.User.Apps.First().Name
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @for (int i = 1; i < Model.User.Apps.Count; i++)
                {
                    <li><a tabindex="-1" href="#">@Model.User.Apps.ElementAt(i).Name</a></li>
                }
            </ul>
        </div>
    }
    else
    {
        
    }
}*@

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                
                <h2>@Model.App.Name</h2>

                <p>Total Recommendations: @Model.AppRecommendations.Count()</p>
                
                <table class="table table-bordered">
                    <caption>Last @Model.NumberOfRecommendationsToShow Recommendations</caption>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Person Facebook Id</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Math.Min(Model.AppRecommendations.Count(), Model.NumberOfRecommendationsToShow); i++)
                        {
                            <tr>
                                <td>@Model.AppRecommendations.ElementAt(i).DateTime.ToShortDateString()</td>
                                <td>@Model.AppRecommendations.ElementAt(i).DateTime.ToShortTimeString()</td>
                                <td>@Model.AppRecommendations.ElementAt(i).PersonFacebookId</td>
                                <td>@Model.AppRecommendations.ElementAt(i).UserMessage</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
