@model ReferLib.App

@{
    ViewBag.Title = "About";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
}

@section CustomHead
{
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# referengine: http://ogp.me/ns/fb/referengine#">
    <meta property="fb:app_id"             content="368842109866922" /> 
    <meta property="og:type"               content="referengine:app" /> 
    <meta property="og:url"                content="https://apps.facebook.com/referengine/@Model.Id" /> 
    <meta property="og:title"              content="@Model.Name" /> 
    <meta property="og:image"              content="@Model.ImageLink" /> 
    <meta property="og:description"        content="@Model.Description" /> 
    <meta property="referengine:storelink" content="@Model.AppStoreLink" /> 
}

<div class="container">
    <div class="row">
        <div class="span1">
            <img src="@Model.ImageLink" />
        </div>
        <h2 class="span11">@Model.Name for @Model.Platform</h2>
    </div>
    <div class="row">
        <div class="span12">
            @Html.Raw(Model.Description)
        </div>
    </div>
    <div class="row">
        <div class="span12 center-content">
            @Html.Raw(Model.Copyright)
        </div>
    </div>
</div>
