@model ReferEngine.Common.Models.App

@{
    ViewBag.Title = "Rules";
    ViewBag.ActiveMenu = "About";
}

<div id="header">
	<div class="container">  
	<div class="row">
		<div class="span12">
		<h1>Rules for Recommendation Reward for @Model.Name</h1>
		</div>
	</div>
	</div>
</div>


<div id="content">
<div class="container">
    <div class="row">
        <div class="span12">
            <div>
                <p>
                    Refer Engine enables users to submit Recommendations for applications from within these applications and offers them a recommendation reward. These rules apply for submitting a recommendation for @Model.Name for @Model.Platform.
                </p>

                <h4>1. You must agree to the <a href="~/About/Terms">Refer Engine Terms of Use</a></h4>
                <p>Users must agree to the <a href="~/About/Terms">Refer Engine Terms of Use</a> before submitting a recommendation. Users automatically agree to those terms when using Refer Engine.</p>
                <h4>2. Offer only applys to users who have a valid U.S. Mailing address.</h4>
                <p>For the current version of Refer Engine, we mail rewards checks to users. For now, we are only able to mail reward checks to U.S. Mailing addresses. </p>
                <h4>3. Friends must buy @Model.Name within 2 weeks of your recommendation to be counted towards your credit</h4>
                <p>
                    This promotion runs for 2 weeks after you submit your initial recommendation of @Model.Name on Facebook. Only your first recommendation is considered valid for this promotion. Your friends must purchase the app within 2 weeks of your initial recommendation
                    to be eligible to be counted as credits. For example, when you submit a recommendation of @Model.Name, three of your friends must buy @Model.Name within two weeks of that recommendation for you to win the cash reward. You will be able to submit further recommendations, but 
                    those will not be eligible for the reward. This enables us to "free up" your friends for possible recommendations from their other friends.
                </p>
                                
                <p class="well">Rules last updated on January 19, 2013.</p>
            </div>
        </div>
    </div>
</div>
</div>
