@using ReferEngine.Common.Tracing
@model ReferEngine.Web.Models.Admin.TraceLogsViewModel

@*@section scripts {
    <script data-main="/typescript/admin/windowsAppInvites.js" type="text/javascript" src="~/typescript/lib/require.js"></script> 
}*@

@{
    var roles = Tracer.GetRoles();
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">                                
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        @if (string.IsNullOrEmpty(Model.Role))
                        {
                            <span>Roles</span>
                        }
                        else
                        {
                            <span>@Model.Role</span>
                        }
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (string role in roles)
                        {
                            string link = "/admin/tracelogs?role=" + role;
                            <li><a href="@link">@role</a></li>
                        }
                    </ul>
                </div>  
                <div class="pull-right">
                    Current UTC Time: @DateTime.UtcNow.ToShortDateString() @DateTime.UtcNow.ToShortTimeString()
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.TraceMessages != null)
            {
                <div class="span12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date/Time</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TraceMessage traceMessage in Model.TraceMessages)
                            {
                                string className = string.IsNullOrEmpty(traceMessage.CategoryString) ? "" :
                                                       traceMessage.CategoryString.ToLower();
                                <tr class="@className">
                                    <td>
                                        @traceMessage.Time.ToString()
                                    </td>
                                    <td>
                                        @traceMessage.Message
                                        @if (traceMessage.Properties != null)
                                        {
                                            <div class="accordion" id="accordion2">
                                                <div class="accordion-group">
                                                    <div class="accordion-heading">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                                            Properties
                                                        </a>
                                                    </div>
                                                    <div id="collapseOne" class="accordion-body collapse in">
                                                        <div class="accordion-inner">
                                                            @foreach (var keyValuePair in traceMessage.Properties)
                                                            {
                                                                <p>@keyValuePair.Key = @keyValuePair.Value</p>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>
