@using ReferEngine.Common.Models
@model IList<WindowsAppStoreCategory>

@section scripts {
    <script data-main="/typescript/admin/windowsStoreCategories.js" type="text/javascript" src="~/typescript/lib/require.js"></script> 
}

<table class="table table-hover">
    
@foreach (WindowsAppStoreCategory category in Model)
{
    <tr>
        <td>
            @if (category.HasParent)
            {
                <span>@category.ParentCategoryName / @category.Name</span>
            }
            else
            {
                <span>@category.Name</span>
            }
        </td>
        <td id="category-img-@category.Id">
            @if (category.CloudinaryImage == null)
            {
                <span>No Image</span>
            }
            else
            {
                <img src="@category.CloudinaryImage.GetLink()" />
            }
        </td>
        <td>
            <form>
                <input type="hidden" name="categoryId" value="@category.Id" />
                <input type="file" name="datafile" />
                <input type="button" class="btn" value="Upload Image" onclick="uploadFile(this.form, '@category.Id'); return false;">
                <div class="upload-feedback"></div>
            </form>
        </td>
    </tr>
}
    
</table>
